a{
    background-color: blue;border-radius: 100%;
}a{color: gold;
}
h1{color:green}
h1{background-color: yellow;}
body {background-image: url("/yourordersir.JPG");
    background-size: cover;
color: blue;}
p{color:darkblue}p{background-color: yellow;border-radius: 0%;}